enna==2025.1.12
enna-st12==2025.1.3
langdetect==1.0.9
beautifulsoup4>=4.11.2
decohints==1.0.7
keyboard==0.13.5
SpeechRecognition>=3.10.0
pyaudio>=0.2.13
pyenchant >=3.2.2
pylint >= 3.0.2
openpyxl>=3.1.2
selenium==4.28.1
setuptools